@import "tailwindcss";

/* 🎨 PALETA ACTIVA (vibrante y moderna) */
:root {
  --color-background: #f9f5ff;
  --color-foreground: #111827;
  --color-foreground-light: #f4f4f5;
  --color-primary: #7c3aed;
  --color-primary-light: #c084fc;
  --color-secondary: #6b7280;

  --font-sans: var(--font-geist-sans, Arial, Helvetica, sans-serif);
  --font-mono: var(--font-geist-mono, monospace);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: #09090b;
    --color-foreground: #f4f4f5;
  }
} */

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
